
/* .power-container {
    background-color: #2e424d;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    margin-top: 1em;
  }
  .power-container #power-point {
    background-color: #d73f40;
    width: 1%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  } */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2e9d0; 
    color: #fff;
  }
  
  .home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('https://example.com/dinosaur-jungle.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #8b5e3c; 
    font-family: 'Georgia', serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  }
  
  
  section {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 20px 30px;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  
  .footer {
    margin-top: 50px;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-style: italic;
  }
  
  .footer p {
    color: #8b5e3c;
  }
  
  
  .header h1, .intro-text p {
    animation: fadeIn 2s ease-out;
  }

  nav li{
    display:inline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 10px;
    color: rgb();
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 2%;
    padding: 5px;
    margin: 50px;
    background: rgb(13,103,29);
    background: linear-gradient(0deg, rgba(13,103,29,1) 0%, rgba(253,187,45,1) 100%);
    
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: auto;
   
}

.container-fluid{
    display:inline;
    padding:10px;
}